@scope (.card) {
  :scope {
    padding: var(--space-xs);
    padding-bottom: var(--space-sm);
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    background-color: var(--color-base);

    border: 0 solid var(--color-shadowLighter);
    border-top: none;
    box-shadow: var(--shadow-medium);

    transition: all var(--duration-short);

    &:hover {
      border-width: 2px;
      box-shadow: var(--shadow-lighter);

      transform: scale(1.125) translateY(-1rem);
    }
  }

  &:has(.error) {
    h2 {
      font-size: var(--fs-md);
    }
  }

  .img-wrapper {
    align-content: center;
    min-height: 8.25rem;
    margin-bottom: var(--space-xs);
    background-color: var(--color-baseSecondary);
  }

  img {
    justify-self: center;
    filter: drop-shadow(0 var(--space-xxs) var(--color-shadowLighter));
  }

  .sprite {
    width: 100%;
  }

  .loader {
    animation: spin var(--duration-medium) infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
  }
}
