@scope (.card) {
  :scope {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding: var(--space-xs);
    padding-bottom: var(--space-sm);
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    background-color: var(--color-base);
    box-shadow: var(--shadow-medium);
    transition: all var(--duration-short);

    &:hover {
      box-shadow: var(--shadow-lighter);
      transform: scale(1.0625) translateY(-1rem);
    }
  }

  @media (width >= 640px) {
    :scope {
      gap: var(--space-sm);
      padding: var(--space-lg);
    }
  }

  &:has(.error) {
    h2 {
      font-size: var(--fs-md);
    }
  }

  .img-wrapper {
    align-content: center;
    min-height: 8.25rem;
    background-color: var(--color-baseSecondary);
  }

  img {
    justify-self: center;
    image-rendering: pixelated;
  }

  .sprite {
    /* BUG FIX: The player tap makes the loader icon overflow the page.*/
    width: 95%;
  }

  .loader {
    animation: spin var(--duration-medium) infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(1turn);
    }
  }
}
