@scope (header) {
  :scope {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xs) var(--space-sm);
    font-family: var(--ff-bold);
    font-weight: var(--fw-bold);
    color: var(--color-contentHeader);
    background-color: var(--color-accent);
    border-bottom: var(--space-xxs) solid var(--color-shadow);
  }

  .logo {
    font: var(--font-logo);
    text-shadow: var(--shadow-darker);
  }

  a {
    text-decoration: none;
  }
}
