img {
  image-rendering: pixelated;
}

@scope (main) {
  :scope {
    padding: var(--space-xs);
    background-color: var(--color-baseSecondary);
  }

  p {
    width: fit-content;
    padding: var(--space-xs) var(--space-sm);
    margin: 0 auto var(--space-sm);
    color: var(--color-contentMuted);
    text-align: center;
    background-color: var(--color-base);
  }
}
