@scope (.scoreboard) {
  :scope {
    display: flex;
    flex-basis: 1rem;
    flex-wrap: wrap;
    gap: var(--space-xxs);
  }

  @media (width >= 640px) {
    :scope {
      flex-wrap: nowrap;
      gap: var(--space-xs);
    }
  }

  p {
    display: flex;
    flex-basis: 100%;
    gap: var(--space-xs);
    align-items: center;
    justify-content: space-between;
    padding: var(--space-xxs) var(--space-xs);
    color: var(--color-contentHeaderMuted);
    background-color: var(--color-accentDarker);
    box-shadow: inset var(--shadow-darker);
  }

  .score {
    font: var(--font-heading);
    color: var(--color-contentHeader);
    text-shadow: var(--shadow-darker);
  }
}
